.body-page{
font-family: sans-serif;
}
.wrapper{
   width: 100%;
   height: auto;
   background: url(../img/background\ 1.png);
   background-repeat: round;

}

.container{
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
       
}
.header-logo{
    display: flex;
    
    align-items: center;
    margin-top: 50px;
    
    
}
    


.header-logo-text{
   display: inline-block;
    justify-content: center;
    align-items: center;
    
    
    color: #FFFFFF;
    padding-left: 8px;
   
    
}

.text-logo_1{
    
    
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin-bottom: 0;
     
}

.text-logo_2{
   
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 0;
   
}


.logo-img{
    position: relative;
}

.logo-orange{
    position: absolute;
    display: none;
}



.header-logo-text:hover{
    color: #F26522;
}
.header-logo:hover .logo-orange{
    display: block;
}


.header-link{
    display: block;
    margin-top: 60px;
    
    
    
}

.header-email{
    
    display: block;
   justify-self: end;
   color: #FFFFFF;
   
   

}

.header-tel{
    float: right;
    color: #FFFFFF;
    margin-top: 20px;
   
 
}

.tours-list{
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(3, 300fr);
    grid-template-rows: 220px 220px;
    gap: 60px;
    padding: 0;
    margin: 0;
    
  
}


.tours-item{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;  
      
        
    }


.tours-link{
    display: block;
    
    justify-self: center;
    align-self: center;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
   
}



.hidden-block{
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 55px;
    background-color: #F26522;
    opacity: 0;
    transition: bottom .2s;
    
    
    
}


.tours-item:hover .hidden-block{
   
      opacity: 1;
      top:165px;
 }
 
 
 .tours-link:hover{
     color: #F26522;
 }



.hidden-text{
    
   font-size: 10px;
   font-weight: 400;
   line-height: 10px;
   
   padding-top: 8px;
   padding-left: 16px;
   padding-bottom: 8px;
   float: left;
   
   color: #FFFFFF;
   margin: 0;
   
}

.hidden-price{
   
  
   font-size: 20px;
   font-weight: 400;
   line-height: 20px;
   color: #FFFFFF;
   margin: 0;

}

.hidden-view{
   
    font-size: 14px;
   font-weight: 400;
   line-height: 14px;
   color: #FFFFFF;
   margin: 0;
}

.hidden-view::after{
  content: url("../img/Vector1.svg");
  margin-left: 16px; 
   
}

.price-view{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 270px;
    padding-left: 14px;
   
    
}




.correction-img{
    margin-top: 12px;
}

.footer-container{
    display: flex;
    justify-content: center;
   
    margin-top: 50px;
    padding-bottom: 15px;
    
}
.footer-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}






